@model OutOfWebrotApp.Models.Pages.Search.SearchModel
    
<div class="jumbotron">
    <h3>Search by Title: @Model.Title</h3>
    @if (Model.IsSuccessful)
    {
        <p>Number of results: @Model.SearchResult.PostsCollection.Count</p>
    }
    else
    {
        <p>No results message</p>
    }
</div>

@if (Model.IsSuccessful)
{
    foreach (var post in Model.SearchResult.PostsCollection)
    {
        <div class="col-md-12">
            <h2>@post.Title</h2>    
            <p>@post.Body</p>
            <p>
                <a class="btn btn-default" href="@post.Url" role="button">View details »</a>
            </p>
        </div>
    }
}

