@using Infrastructure.Helpers
@using Sitecore.Mvc
@model InfrastructureModule.Models.Pages.Post.PostItemModel


        
@*<div class="jumbotron">
    <h3>@Model.Title Post</h3>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
</div>*@

<div class="col-sm-8 blog-main">

    <div class="blog-post">
        <h2 class="blog-post-title">@Model.Title</h2>
        <p class="blog-post-meta">@Model.Date by <a href="#">@Model.Author</a>
        </p>

        <p>@Model.Subtitle</p>
        <hr>

        <blockquote>
            <p>@Model.Body</p>
        </blockquote>

    </div><!-- /.blog-post -->

    <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">@Sitecore.Globalization.Translate.Text("O.Old")</a>
        <a class="btn btn-outline-secondary disabled" href="#">@Sitecore.Globalization.Translate.Text("N.New")</a>
    </nav>
    
    @Html.Sitecore().Placeholder("postContent")

</div><!-- /.blog-main -->

@{
    var postsItem = SitecoreHelper.GetPostsItem();
    var postAboutTitle = postsItem.Fields["PostAboutTitle"].Value;
    var postAboutDescription = postsItem.Fields["PostAboutdescription"].Value;
}


<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>@postAboutTitle</h4>
        <p>@postAboutDescription</p>
    </div>
    <div class="sidebar-module">
        <h4>@Sitecore.Globalization.Translate.Text("C.Category")</h4>
        <ol class="list-unstyled">
            <li><a href="#">@Model.Category</a></li>
        </ol>
    </div>
    <div class="sidebar-module">
        <h4>@Sitecore.Globalization.Translate.Text("T.Tags")</h4>
        <ol class="list-unstyled">
            @foreach (var tag in Model.Tags)
            {
                <li><a href="#">@tag</a></li>   
            }
        </ol>
    </div>
</div><!-- /.blog-sidebar -->
